.tabs {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 8px;
  width: 190px;

  &__item {
    cursor: pointer;
    padding: 10px;
    &:hover {
      background-color: rgba(174, 183, 194, 0.16);
    }
    &-name {
      padding-left: 20px;
      font-size: 14px;
    }
  }
}
