.tabs {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 8px;
  width: 190px;
  &__list {
    padding: 10px 0;
  }
  &__item {
    cursor: pointer;
    padding: 10px;
    border-left: 2px solid transparent;
    transition: all ease 0.2s;
    &:hover {
      background-color: rgba(174, 183, 194, 0.16);
    }
    &-name {
      padding-left: 20px;
      font-size: 14px;
    }
    &-active {
      border-left: 2px solid #5181b8;
      background-color: rgba(174, 183, 194, 0.16);

      .tabs__item-name {
        font-weight: 500;
      }
    }
  }
}
