.button {
  background: #5181b8;
  color: #fff;
  padding: 9px 15px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  width: 130px;
  text-align: center;
  margin-left: auto;
  border: none;

  &-center {
    display: block;
    margin: 0 auto;
  }
  &:hover {
    opacity: 0.9;
    transition: all ease 0.2s;
  }
  &-file {
    visibility: hidden;
    opacity: 0;
    width: 130px;
    display: none;
  }
  &-label {
    margin: 0 auto;
  }
}

// .file {
//   opacity: 0;
//   width: 130px;
//   margin: 0 auto;
// }
// .file-input label {
//   padding: 9px 15px;
//   background: #5181b8;
//   color: #fff;
//   padding: 9px 15px;
//   border-radius: 4px;
//   font-size: 13px;
//   cursor: pointer;
//   width: 130px;
//   text-align: center;
// }
