* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #aeb7c24f;
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

.App {
  font-family: "Roboto", sans-serif;
}

.App__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  margin: 0 auto;
  padding: 20px;
}
